/*Error*/
.carrito-container{
    background-image: url(../img/Fondos/FondoSeccionesTres.png);
    padding: 6vw;
   
}

 #lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo-carrito{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    background-color: #C4AAD7;
    width: 100%;
    color: white;
    padding: 1%;
    margin-top: 5%;
}

.item{
    background-color: white;
    margin-bottom: 10%;
    padding: 1%;
    
}

.nombre-del-producto{
    width: 100%;
    text-align:left;
    font-size: 25px;
    color: black;

}

.fotoproducto{
    width: 70%;
    height: 70%;
}

.btn{
  padding: 1.5vw;
  margin-top: 1.5vh;
  background: #C4AAD7; /*Yellow*/
  box-shadow: 4px 4px 0 #73d2e6;
  border: none;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  margin: auto;
  color: white;
  text-decoration: none;
  margin-top: 2%;
}

.btn:hover {
    background: linear-gradient(to left,#F7EB61 0,#73d2e6 100%);
}

#cantidad{
    width: 30px;
    padding: 7%;
    font-size: 30px;
    color: #C4AAD7;
}
.cantidad{
    display: flex;
    flex-direction: row;
    font-size: 1px;
}
.less{
    color: white;
    background-color: #C4AAD7;
    padding: 8%;
    font-size: 30px;
}
.more{
     color: white;
     background-color: #C4AAD7;
     padding: 8%;
     font-size: 30px;
    
}

.totalYcomprar{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

#total{
       margin-bottom: 2%;
    }
.historial-caja{
    display: flex;
}
.historial{
   text-decoration: none;
   background-color: #C4AAD7;
    color: white;
    padding: 2%;
  align-items: center;
    
}


/*-------------------------------------MEDIA QUERYS----------------------------------------------*/

@media (min-width: 990px){

 #titulo-carrito{
    font-size: 30px;
       margin-top: 1%;
}

.fotoproducto{
  
}
    #lista{
        display: flex;
        flex-direction: row;
        
    }
    
    #lista li{
        margin-right: 5%;
    }
    
    .item{
    margin-bottom: 5%;
  
}
    #total{
        font-size: 40px;
    }
    
}
