
.main-container {
  padding: 5vw;
  background-image: url(../img/Fondos/FondoSeccionesDos.png);

}

.cajaDePreguntaDestopk{
    display: none;
}

.faq-body {
  padding: 5vw;

}

.imagenDePreguntas img{
    width: 50px;
    margin-right: 5px;
    margin-top: 7px;
}

.faq-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    background-color: #C4AAD7;
    width: 100%;
    color: white;
    padding: 1%;
    margin-top: 5%;
    font-size: 30px;
}

.cajaDePreguntaMobile{
  margin-top: 6vh;
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;    
}

.cajaDePreguntas img {
    order: -1;
}

.preguntas{
  font-size: 1em;
  margin-bottom: 10px;
}

.respuestas {
  font-size: 1em;
    display: none;
   font-size: 20px;
}

.preguntas2{
      font-size: 1em;
  margin-bottom: 10px;
}

.respuestas2 {
  font-size: 1em;
    display: none;
   font-size: 20px;
}

@media (min-width: 992px) { /*DESKTOP*/
  .main-container {
    padding: 3% 5%;
  }
    .cajaDePreguntaDestopk{
    display: flex;
    margin-top: 6vh;
}

    .cajaDePreguntaMobile{
        display: none;
    }

  .faq-body {
    padding: 0 5%;
  }
 .respuestas {
    display: block;
}

    .respuestas2 {
  font-size: 1em;
    display: flex;
   font-size: 20px;
}
    

}
