.main-container {
  background: rgba(196,170,215, 0.8);
  padding: 5vw;
}

.form-container {
  padding: 5vw;
  background: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.register-form {
  margin: auto;
  background-color: white;
  background-image: url('../img/Fondos/FondoSeccionesTres.png');
  padding: 5vw;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}


.login-text h2 {
  color:black;
  font-family: 'Bree Serif', serif;
  font-size: 2em;
}

/*FORMLUARIO*/
.form {
  font-family: 'Open Sans', sans-serif;
  margin: 5vw;
  /* margin-top: 6vh; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.form input {
  border: 1px solid #CCCCCC !important;
  height: 5vh;
  color: black;
  padding: 2vw;
}

.form select {
  width: 70vw;
  margin-bottom: 1vh;
  font-size: 1em;
  padding: 1vw;
}

.form option {
  overflow: hidden;
}

label {
  color: black;
}

/*OLVIDO CONTRASEÑA*/
.form-links {
  margin: 2vw;
}

.form-links a {
  color: black;
  font-size: 0.8em;
}

/*BOTON DE LOGEO*/
.login-button {
  margin: 5vw;
}

.login-button button {
  padding: 2vw;
  margin-top: 2vh;
  background: #F7EB61; /*Yellow*/
  box-shadow: 4px 4px 0 #73d2e6;
  border: none;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  margin: auto;
  color: black;
  cursor: pointer;
}

.login-button button:hover {
    background: linear-gradient(to left,#F7EB61 0, #FFB6Bf 100%);
}

/*REGISTRARSE*/
.register-container {
  margin-top: 5vh;
  background: white;
  padding: 5vw;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.login-text p {
  margin-top: 2vh;
}

.error-form {
  color: red;
  font-size: 0.8em;
}

.error-link {
  color: red;
  font-size: 0.9em;
  text-decoration: underline;
}


/*EDITAR PERFIL*/
.editar-form {
  margin: auto;
  background-color: white;
  background-image: url('../img/Fondos/FondoSeccionesTres.png');
  padding: 5vw;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.container-editarPerfil{
  display: inline-block;
  /* margin:38px; */
  font-family: 'Open Sans', sans-serif;
  margin: 5vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: ; */
  text-align: left;
}

.login-text #titulo-editar {
  width: 80vw;
}

.container-editarPerfil input {
  padding: 5px;
}

.form-editar {
  margin-top: 1vh;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.form-editar label {
  margin-top: 2vh;
}

.form-editar select {
  width: 70vw;
  margin-bottom: 1vh;
  font-size: 1em;
  padding: 1vw;
}

.check-box { /*cada checbox esta en un div*/
  margin-top: 1vh;
}

.checkbox-form label {
  margin-bottom: 1vh;
  width: 100vh;
}

.check-box span {
  margin-left: 0.5vh;
}

.check-box  input {
  border: 1px solid #CCCCCC !important;
  color: black;
  padding: 2vw;
}

#genero-options {
  /* width: 90vw; */
}

.editar-button {
  margin: 5vw;
  align-self: center;
}

.editar-button button {
  padding: 2vw;
  margin-top: 2vh;
  background: #F7EB61; /*Yellow*/
  box-shadow: 4px 4px 0 #73d2e6;
  border: none;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  margin: auto;
  color: black;
}

.editar-button button:hover{
    background: linear-gradient(to left,#F7EB61 0,#73d2e6 100%);
}

.fecha-form {
  padding: 2vw;

}

@media (min-width: 768px) { /*TABLET*/
  .login-text h2  {
    font-size: 2em;
  }
}

@media (min-width: 992px) { /*DESKTOP*/
  .main-container {
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  /*LOGIN*/
  .form-container {
    width: 40%;
    padding: 10px;
    padding-top: 20px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form {
    margin: 30px;
  }

  .form input {
    margin: auto;
    padding: 10px;
    width: 100%;
    max-width: 700px;
  }

  .login-text {
    width: 100%;
    margin-bottom: 10px;
  }

  /*REGISTRO*/
  .register-container {
    margin-top: 0;
    width: 40%;
    height: 700px;
  }

  .login-text p {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2em;
  }

  /*REGISTRO FORMULARIO*/
  .register-form {
    width: 50%;
    max-width: 960px;
    padding: 50px;
  }

  .form select {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 10px;
  }

  .form option {
    overflow: hidden;
  }

  /*EDICION PERFIL*/
  .editar-form {
    margin: auto;
    padding: 8px;
  }

  .editar-form .login-text h2 {
    margin-top: 30px;
  }

  .container-editarPerfil{
    padding: 15px;
    margin: 0 50px;
    padding-top: 0;
  }

  .login-text #titulo-editar {
    width:100%;
  }

  .form-editar select {
    width: 70%;
    max-width: 300px;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 10px;
  }

  .form-editar label {
  margin-top: 15px;
  }

  .check-box {
    margin-top: 10px;
  }

  .checkbox-form label {
    margin-bottom: 10px;
    width: 100%;
  }

  .check-box span {
    margin-left: 10px;
  }

  .check-box  input {
    color: black;
    padding: 15px;
  }

  .genero-options {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
  }

  .genero-options input {
    margin-top: 9px;
    margin-right: 5px;
  }

  .genero-options span {
    margin-right: 15px;
  }

  .editar-button {
    margin: 20px;
  }

  .editar-button button {
    padding: 20px;
  }

  .cambiarContraseña {
    padding: 10px;
  }

  /*BOTON CLASICO*/
  .login-button {
    margin: 20px;
  }

  .login-button button {
    padding: 20px;
  }
}
