/*GENERAL A TODAS LAS PAGINAS*/
/* @import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans'); */

/* bree-serif-regular - latin */
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/bree-serif-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'),
       url('fonts/bree-serif-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/bree-serif-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/bree-serif-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/bree-serif-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/bree-serif-v8-latin-regular.svg#BreeSerif') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v16-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

* {
  font-family: 'Open Sans', sans-serif;
  color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*MAIN CONTAINER*/
.xl-screen {
  padding: 0;
  margin: 0;
}

.main-container {
  margin-top: 10vh;
  background: white;
}

  /*------------HEADER--------------------*/
/*MENU DESKTOP*/
.menu-desktop {
  display: none;
}

nav a {
  text-decoration: none;
  color: white;
}

/*MENU MOBILE*/
.menu-mobile {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 10vh;
  background: #8CD0E3; /*Lightblue*/
  padding: 3vw 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

.menu-mobile h3 {
  display: inline-block;
  color: white;
}

.icon-img {
  width: 8vw;
  margin-right: 1vw;
}

.logo {
  height: 5vh;
}
.icon-box{
    display: flex;
}

#user-icon {
  display: none;
}

/*HAMBURGUESA*/
#menuToggle {
  display: block;
  position: relative;
  top: 1vh;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 1.5vh;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Just a quick hamburger */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) { /*Transform all the slices of hamburger into a crossmark.*/
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span { /*But let's hide the middle one.*/
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) { /* And the last one should go the other direction  */
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) { /* Make this absolute positioned at the top left of the screen */
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 120vw;
  margin: -100px 0 0 -50px;
  padding-left: 20vw;
  padding-top: 18vh;
  padding-bottom: 5vh;
  background: #8CD0E3; /*Lightblue*/
  list-style-type: none;
  -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 3vh 0;
  font-size: 1.5em;
  color: white;
}

#menuToggle input:checked ~ ul { /* And let's slide it in from the left */
  transform: none;
}

.totalItems{ /* cantidad de productos en el header */
    position: absolute;
    top: 4px;
    right: 8px;
    height: 15px;
    width: 15px;
    line-heizght: 18px;
    background-color: #C4AAD7;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.2s 0s;
    -moz-transition: -moz-transform 0.2s 0s;
    transition: transform 0.2s 0s;
    }


  /*------------FOOTER--------------------*/
.footer-info {
  background: #8CD0E3; /*Lightblue*/
  color: white;
}

.footer-info a {
  color: white;
  text-decoration: none;
}

/*FOOTER DESKTOP*/
.links-desktop {
  display: none;
}

/*FOOTER MOBILE*/
.links-mobile {
  padding: 5vh 5vw;
  padding-bottom: 3vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  }

.footer-info-mobile {
  width: 90vw;
  padding: 2vw 0;
  border-bottom: solid white 0.1vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-info-mobile h3 {
  color: white;
}

/*FORMULARIO SUSCRIBE*/
.suscribe {
  margin-top: 2vh;
  display: inline-block;
  width: 95vw;
}

.suscribe h3 {
  font-family: 'Bree Serif', serif;
  margin-top: 1.5vh;
  color: white;
}

.suscribe-form {
  margin-top: 1vh;
}

.suscribe-form input {
  color: black;
  border: none;
  padding: 10px;
  width: 70vw;
}

.suscribe-error {
  color: red;
  font-size: 0.8em;
}

#suscribe-button-mobile{
  border: none;
  padding: 10px;
  color: white;
  background: #C4AAD7; /*Violet*/
}

/*COPYRIGHT*/
.copyright {
  padding: 5vw;
  padding-bottom: 1vh;
  text-align: center;
  font-family: serif;
  font-style: italic;
  }

  .copyright p {
    color: white;
  }

/*-------------------------------------MEDIA QUERYS----------------------------------------------*/

@media (min-width: 336px){
    /*--------HEADER---------*/
/*--------LOGO CARRITO---------*/
.icon-img {
  width: 7.5vw;
}
}

@media (min-width: 380px){
    /*--------HEADER---------*/
/*--------LOGO CARRITO---------*/
.icon-img {
  width: 6vw;

}
}

@media (min-width: 430px){
    /*--------HEADER---------*/
.menu-mobile {
  height: 11vh;
}

.logo {
  height: 6vh;
}

.totalItems{
    top: 9px;
    right: 10px;
    }
}

@media (min-width: 472px){
    .icon-img {
  width: 5.5vw;
}
}

@media (min-width: 518px){
    .icon-img {
  width: 5.1vw;
}

}

@media (min-width: 546px){
    .icon-img {
  width: 4.6vw;
}

.totalItems{ /* cantidad de productos en el header */
    position: absolute;
    top: 14px;
    right: 10px;
    height: 17px;
    width: 17px;
   
    }

}

@media (min-width: 588px){
    .icon-img {
  width: 4.3vw;
}
  .menu-mobile{
         height: 10.3vw;
    }
    
}

@media (min-width: 620px){
    /*--------HEADER---------*/
    .icon-img {
   width: 4vw;
}
  
    }

@media (min-width: 700px) { /*TABLET*/
  * {
    font-size: 26px;
  }

  /*MAIN CONTAINER*/
  .main-container {
    margin-top: 9vh;
  }

  /*MENU MOBILE*/
  .menu-mobile {
    position: fixed;
    width: 100vw;
    height: 11vw;
    background: #8CD0E3; /*Lightblue*/
    padding: 3vw;
    padding-bottom: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
  }



    .logo{
        height: 10vh;
    }

  .icon-img {
    width: 5vw;
    margin-right: 1vw;

  }

  #user-icon {
    display: inline;
  }
    .totalItems{
    top: 15px;
    right: 20px;
    height: 22px;
    width: 22px;
    font-size: 0.7rem;
    }
}

@media (min-width: 700px){
    
}

@media (min-width: 992px) { /*DESKTOP*/
  /*GENERAL*/
  * {
    font-size: 20px;
    box-sizing: border-box;
  }
    /*BUSCADOR*/
    .buscador{
     display: flex;
     flex-direction: column;
        width: 5%;
        display: none;
      
    }
    
    .icon-box{
        display: flex;
        flex-direction: row;
    }

  /*MAIN-CONTAINER*/
  .main-container {
    margin-top: 120px;
  }

  /*------------HEADER--------------------*/
  /*MENU MOBILE*/
  .menu-mobile {
    display: none;
  }

  /*MENU DESKTOP*/
  .menu-desktop {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 120px;
    color: white;
    background: #8CD0E3; /*Lightblue*/
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  /*MENU PRIMERA LINEA*/
  .menu-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    height: 70px;
  }

  .icons {
    margin-right: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #bag-box {
    margin-right: 15px;
    margin-left: 15px;
  }

  .icons a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .icons:first-child {
    margin-left: 2%;
    margin-right: 0;
  }

  .icon-img {
    width: 35px;
    margin-right: 0;
    margin: auto;
    margin-bottom: 5px;
  }

  #user {
    margin-bottom: 6.5px;
  }

  .icons p {
    color: white;
    text-align: center;
    margin-top: auto;
    font-family: 'Bree Serif', serif;
  }

  .icon-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .icon-box:hover, .icon-box:focus {
    -webkit-transform: scale(0.95);
    transform: scale(0.95)
  }


  /* Grow */
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /*LOGOUT*/
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background: #8CD0E3; /*Lightblue*/
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    top: 45px;
  }

  .dropbtn i {
    color: white;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background: #8CD0E3; /*Lightblue*/
    min-width: 160px;
    z-index: 101;
    text-align: right;
    top:50px;
  }

  .dropdown-content a {
    font-family: 'Bree Serif', serif;
    color: white;
    padding: 12px 16px;
    margin:0;
    text-decoration: none;
    display: block;
    font-size: 'Bree Serif', serif;
  }

  .dropdown-content a:hover {
  	background: #CAE9F2; /*Lighter lightblue*/
  }
  .dropdown:hover .dropdown-content {
  	display: block;
  }
  .dropdown:hover .dropbtn {
  	background: #8CD0E3; /*Lightblue*/
  }
    
     .totalItems{
    top: 2px;
    right: 4px;
    height: 22px;
    width: 22px;
    font-size: 0.7rem;
    }

  /*FIN PRIMERA LINEA*/

  /*SEGUNDA LINEA*/
  .menu-bottom{
    /* font-size: 1em; */
    width: 100%;
    text-align: center;
  }

  .menu-bottom ul {
    list-style: none;
  }

  .menu-bottom ul li {
    display: inline-block;
    margin-left: 5px;
    color: white;
  }

  .menu-bottom ul li a {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  }

  /*Dropdown CATEGORIAS*/
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background: #8CD0E3; /*Lightblue*/
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    top: 45px;
  }

  .dropdown-category {
    display: none;
    position: absolute;
    right: 0;
    background: #8CD0E3; /*Lightblue*/
    min-width: 160px;
    z-index: 101;
    text-align: right;
    top:34px;
  }

  .dropdown-category a {
    font-family: 'Open Sans', serif;
    color: white;
    padding: 12px 16px;
    margin:0;
    text-decoration: none;
    display: block;
  }

  .dropdown-category a:hover {
  	background: #CAE9F2; /*Lighter lightblue*/
  }
  .dropdown:hover .dropdown-category {
  	display: block;
  }
  .dropdown:hover .dropbtn {
  	background: #8CD0E3; /*Lightblue*/
  }


  /* Underline Menu */
  .menu-bottom ul li a {
    position: relative;
  }
  .menu-bottom ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #CAE9F2; /*Lighter lightblue*/
    height: 1px;
  }
  .menu-bottom ul li a:hover:after {
    width: 100%;
  }

  /*------------FOOTER--------------------*/
  .links-mobile { /*Ocultamos el footer para version mobil*/
    display: none;
  }

  .links-desktop {
    padding: 3% 2%;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    }

  .social-media {
    display: inline-block;
    width: 30%;
    text-align: center;
  }

  .social-media h3 {
    color: white;
  }

  .social-links-desktop i {
    font-size: 2em;
    color: white;
    padding: 5px;
  }

  .social-links-desktop i:hover {
    color: #F7EB61;
  }

  /* color: #F7EB61;*/  /*Yellow*/


  /* CUENTA*/
  .cuenta {
    display: inline-block;
    width: 30%;
  }

  .cuenta h3 {
    padding: 15px 0;
    color: white;
    /* position: relative; */
    text-transform: uppercase;
  }

  .cuenta h3:hover {
    color: #F7EB61;
    /*Yellow*/
  }

  /*Underline Footer*/
  .cuenta h3:after {
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #F7EB61; */
    /* background: #CAE9F2; */
    /* height: 1px; */
  }
  .cuenta h3:hover:after {
    /* width: 50%; */
  }

  /*FORMULARIO SUSCRIBE*/
  .suscribe {
    display: inline-block;
    margin-top: 0;
    width: 30%;
  }

  .suscribe h3 {
    font-family: 'Bree Serif', serif;
  }

  .suscribe-form {
    margin-top: 10px;
  }

  .suscribe-form input {
    color: black;
    border: none;
    padding: 10px;
    width: 60%;
    max-width: 300px;
  }


  #suscribe-button-desktop {
    border: none;
    padding: 10px;
    color: white;
    background: #C4AAD7; /*Violet*/
    cursor: pointer;
  }

  /*COPYRIGHT*/
  .copyright {
    padding: 1%;
    width: 100%;
  }
}



@media (min-width: 1600px) { /*BIG SCREEN*/
 .xl-screen {
   background: url("../img/bg-body.jpg");
   background-position: top left;
   background-size: 10%;
   background-repeat: repeat;
   /* background-image: linear-gradient(rgba(247, 235, 97, 0.47) 0px, rgba(240, 140, 205, 0.47) 50%, rgba(115, 210, 230, 0.47) 100%);
       background-position-x: initial;
       background-position-y: initial;
       background-size: initial;
       background-repeat-x: initial;
       background-repeat-y: initial;
       background-attachment: initial;
       background-origin: initial;
       background-clip: initial;
       background-color: initial; */

 }

 .body-container {
   max-width: 1700px;
   margin: auto;
   overflow: hidden;
 }

 .menu-desktop {
   max-width: 1700px;
   margin: auto;
 }
}
